title: "PYBLOG"
email: 390.adesh@gmail.com
donate_link: https://www.buymeacoffee.com/pyblog
description: >- 
  How do you know which <br> <img id="showerButton" class="twemoji" src="https://pyblog.xyz/assets/img/emoji/watermelon.svg" alt=""> to pick?
baseurl: ""
url: "https://pyblog.xyz" 
repository: addu390/addu390.github.io
twitter: gooshi_addu
github: addu390
linkedin: adesh-nalpet-adimurthy
medium: pyblog

issues_repo: addu390/addu390.github.io

header_image: assets/img/profile/3.gif

google_analytics: G-LWDR3LD16H
comments: true
disqus: purelog-jekyll

author: Adesh Nalpet Adimurthy
author_pic: assets/img/profile/luffy_avatar.png
paginate: 11
paginate_path: "/:num/"

markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge

theme: null
plugins:
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-archives
permalink: /:title

defaults:
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      author: Adesh Nalpet Adimurthy
      avatar: assets/avatar.png
  - scope:
      path: ""
      type: notes
    values:
      layout: post
      content-type: notes
  - scope:
      path: ""
      type: journals
    values:
      layout: journal-entry
      content-type: journals

collections:
  pages:
    output: true
    permalink: /:title
  notes:
    output: true
    permalink: /notes/:title
  journals:
    output: true
    permalink: /journals/:title

jekyll-archives:
  enabled: [categories, tags]
  layouts:
    category: category
    tag: tag
  permalinks:
    tag: /tags/:name/
    category: /categories/:name/

exclude:
  - ".jekyll-cache"
  - "Gemfile"
  - "Gemfile.lock"
