{% if page.posts %}
{% assign posts = page.posts %}
{% endif %}
<div class="posts posts-table-container">
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
    
    <table class="posts-table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {%- for post in posts -%}
            {%- assign wordCount = post.content | number_of_words -%}
            {%- assign numberOfMinutes = wordCount | divided_by: 275 -%}
            {%- if numberOfMinutes == 0 -%}
            {%- assign numberOfMinutes = 1 -%}
            {%- endif -%}
            <tr class="clickable-div{% if post.highlight %} highlighted-post highlighted-post-{{ post.highlight }}{% endif %}" onclick="location.href='{{ post.url | relative_url }}';">
                <td>
                    <time class="posts-table-date" datetime="{{ post.date | date_to_xmlschema }}">
                        {{ post.date | date: date_format }}
                    </time>
                </td>
                <td>
                    <div class="posts-table-title-cell">
                        <div style="flex: 1;">
                            <a href="{{ post.url | relative_url }}" class="posts-table-title-link">
                                {{ post.title | escape }}
                            </a>
                            <span class="posts-table-read-time"> • {{ numberOfMinutes | append: " min read" }}</span>
                        </div>
                        <!-- {%- if post.feature -%}
                        <img class="posts-table-feature-img" 
                             src="{{site.url}}/{{ post.feature }}" alt="Featured Image" />
                        {%- endif -%} -->
                    </div>
                </td>
                <td>
                    {%- if post.tags -%}
                    <span class="posts-table-tags-text">{{ post.tags | join: ", " }}</span>
                    {%- endif -%}
                </td>
            </tr>
            {%- endfor -%}
        </tbody>
    </table>
    
    {%- include posts-pagination.html -%}
</div>