<div class="posts post-grid-container pure-u-md-18-24">
    {%- if page.posts.size > 0 -%}
    {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

    {%- for post in page.posts -%}
    <section class="post post-grid-card">
        <div style="margin-top: 0.5em;" class="clickable-div" onclick="location.href='{{ post.url | relative_url }}';">
            <img class="center-image-0 center-image-100 crop" src="{{site.url}}/{{ post.feature }}" alt="Featured Image" />
        </div>

        <hr class="post-hr">

        <div class="post-grid-card">
        <header class="feed-header" style="padding-left: 0px;">
            <h2 class="post-title">
                <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h2>
            
        </header>

        <div class="post-description clickable-div">
            <p class="md-display" onclick="location.href='{{ post.url | relative_url }}';">
                <span>{{ post.content | strip_html | escape | truncate: 120}}</span>
            </p>
            <p class="sm-display" onclick="location.href='{{ post.url | relative_url }}';">
                <span>{{ post.content | strip_html | escape | truncate: 120}}</span>
            </p>
            {%- include post-meta.html -%}
        </div>
        </div>
    </section>
    {%- endfor -%}
</div>
{%- endif -%}