<div class="menu">
    {%- include search.html -%}
    <img id="notification-icon" class="twemoji notification-icon" src="../assets/img/common/notification.svg" alt="">
</div>
<div class="notification-dropdown" id="notification-dropdown">
    <p>Click the <img class="twemoji" src="../assets/img/common/bookmark-initial.svg"> on any post to easily add it to your reading list <span class="state-tag new-tag">New</span></p>
    <hr class="post-hr">
    <p>Sign in with Github and Comment on any post! <span class="state-tag new-tag">New</span></p>
</div>