{%- assign np_year = site.time | date: "%Y" | plus: 0 -%}
{%- assign np_doy = site.time | date: "%j" | plus: 0 -%}
{%- assign np_vol = np_year | minus: 2015 -%}
{%- assign np_issue = np_year | minus: 2016 | times: 365 | plus: np_doy -%}
<header class="np-masthead">
    <h1 class="np-nameplate"><a href="/">PyBlog</a></h1>
    <div class="np-dateline">
        <span>Vol. {{ np_vol }} &middot; No. {{ np_issue }}</span>
        <span class="np-dateline-date">{{ site.time | date: "%A, %B %-d, %Y" }}</span>
        <span>Est. 2016</span>
    </div>
</header>
