<div class="np-index-box">
    <h4>Sections</h4>
    <ul>
        <li><a href="/">Front Page</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/journals">Journal</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
    <details class="np-more-sections">
        <summary aria-label="Toggle more sections"><span class="np-more-caret">&#9662;</span></summary>
        <ul>
            <li><a href="/privacy">Privacy</a></li>
            <li><a href="/tags">Tags</a></li>
            <li><a href="/archive">Archive</a></li>
        </ul>
    </details>
</div>
