<p class="post-meta" data-id="{{ post.url | relative_url }}" data-url="{{ post.url | relative_url }}"
    data-title="{{ post.title | escape }}">
    {% assign wordCount = post.content | number_of_words %}
    {% assign numberOfMinutes = wordCount | divided_by: 275 %}
    {%- if numberOfMinutes == 0 -%}
    {% assign numberOfMinutes = 1 %}
    {%- endif -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    <span class="save-button float-right"><img class="opacity-70 twemoji svg-icon"
            src="{{ site.url }}/assets/img/common/bookmark-initial.svg" alt=""></span>

    {%- if disable-meta-click -%}
    <a href="#" class="disabled-link">{{ post.category }}</a>
    {% else %}
    <a href="{{site.url}}/categories/{{ post.category | slugify }}">{{ post.category }}</a>
    {%- endif -%}

    <b class="post-meta-dots">·</b>
    {%- for tag in post.tags -%}
    {%- if disable-meta-click -%}
    <a href="#" class="disabled-link"> #{{ tag }}</a>
    {% else %}
    <a href="{{site.url}}/tags/{{ tag | slugify }}"> #{{ tag }}</a>
    {%- endif -%}
    {%- if forloop.last == false %}&#8239; {% endif -%}
    {%- endfor -%}

    <br />

    {%- if post.premium -%}
    <img title="Premium Post on Medium" class="premium-tag" src="{{site.url}}/assets/img/common/premium.svg" alt="premium-tag">
    {%- endif -%}
    {%- if post.friendly -%}
    <img class="premium-tag" src="{{site.url}}/assets/img/common/friendly.svg" alt="friendly-tag">
    {%- endif -%}

    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ post.date | date: date_format }}
    </time>
    {%- if post.modified_date -%}
    ~
    {%- assign mdate = post.modified_date | date_to_xmlschema -%}
    <time datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
    </time>
    {%- endif -%}
    <b class="post-meta-dots">·</b>
    <span>{{ numberOfMinutes | append: " min read"}}</span>
</p>