<p class="post-meta" data-id="{{ post.url | relative_url }}" data-url="{{ post.url | relative_url }}"
    data-title="{{ post.title | escape }}">
    {% assign wordCount = post.content | number_of_words %}
    {% assign numberOfMinutes = wordCount | divided_by: 275 %}
    {%- if numberOfMinutes == 0 -%}
    {% assign numberOfMinutes = 1 %}
    {%- endif -%}
    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}

    <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        &nbsp;{{ post.date | date: date_format }}
    </time>
    {%- if post.modified_date -%}
    ~
    {%- assign mdate = post.modified_date | date_to_xmlschema -%}
    <time datetime="{{ mdate }}" itemprop="dateModified">
        {{ mdate | date: date_format }}
    </time>
    {%- endif -%}
    <b class="post-meta-dots">·</b>
    <span>{{ numberOfMinutes | append: " min read"}}</span>
</p>