<aside class="sidebar pure-u-1 pure-u-md-1-5">
    <div class="sidebar-info">
        <a href="/">
            <span hidden>{{site.title}}
                Header Image</span>
            <img class="brand-photo" src="{{site.url}}/{{site.header_image}}" alt="Photo of {{site.author}}" />
        </a>
        <h1 class="brand-title">
            <a href="/">{{site.title}}</a>
        </h1>
        <br>
        <h2 class="brand-tagline">{{site.description}}</h2>
        <br>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="pure-button" href="{{site.url}}"><i class="fas fa-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="pure-button" href="/journals"><i class="fas fa-book"></i> Journal</a>
                </li>
            </ul>
        </nav>
    </div>
    <ul class="sidebar-list">
        <li class="featured"><a href="https://owid.github.io/cartograms/" target="_blank">Population Cartograms</a></li>
        <!-- <li class="high-featured"><a href="https://calendly.com/pyblog/30min" target="_blank">Schedule time with me</a></li> -->
        <li><a href="{{site.utl}}/dockerize-django">Most Viewed Post</a></li>
        <li class="low-featured"><a href="https://medium.com/@pyblog/lists" target="_blank">Medium Reading List</a></li>
        <li class="high-featured"><a href="https://twitter.com/gooshi_addu" target="_blank">Contact &nbsp;🤙🏻</a></li>
    </ul>
</aside>