<aside class="sidebar pure-u-1 pure-u-md-1-5">
    <div class="sidebar-info">
        <a href="/">
            <span hidden>{{site.title}}</span>
            <img class="brand-photo" src="{{site.url}}/{{site.header_image}}" alt="Photo of {{site.author}}" />
        </a>
        <h1 class="brand-title">
            <a href="/">· {{site.title}} ·</a>
        </h1>
        <br>
        <h2 class="brand-tagline">{{site.description}}</h2>
        <p></p>
    </div>
    <ul class="sidebar-list">
        <li class="clickable-div high-featured" onclick="location.href='{{site.url}}';"><span class="sidebar-index"><img class="twemoji" src="../assets/img/emoji/home.svg" alt=""></span>&nbsp; Home</li>
        <li class="clickable-div low-featured" onclick="location.href='{{site.url}}/journals';"><span class="sidebar-index"><img class="twemoji" src="../assets/img/emoji/book.svg" alt=""></span>&nbsp; Journal</li>
        <li class="clickable-div high-featured"><a href="https://pyblog.medium.com/subscribe" target="_blank"><span class="sidebar-index"><img class="twemoji" src="../assets/img/emoji/loveletter.svg" alt=""></span>&nbsp; Subscribe</a></li>
        <li class="clickable-div low-featured" onclick="location.href='{{site.url}}/categories';"><span class="sidebar-index"><img class="twemoji" src="../assets/img/emoji/folder.svg" alt=""></span>&nbsp; Categories</li>
        <li class="clickable-div low-featured" onclick="location.href='{{site.url}}/archive';"><span class="sidebar-index"><img class="twemoji" src="../assets/img/emoji/archive.svg" alt=""></span>&nbsp; Archive</li>
        <li class="clickable-div low-featured"><a href="https://medium.com/@pyblog/lists" target="_blank"><span class="sidebar-index"><img class="twemoji" src="../assets/img/emoji/medium.svg" alt=""></span>&nbsp; Medium</a></li>
        <li class="clickable-div low-featured"><a href="{{ site.donate_link }}" target="_blank"><span class="sidebar-index"><img class="twemoji" src="../assets/img/emoji/luck.svg" alt=""></span>&nbsp; Sponsor</a></li>
    </ul>
</aside>