@media (min-width: 48em) {
  .post-entry-toc .posts,
  .post-entry {
    width: 100%;
  }
}

@media screen and (max-width: 48em) {
  .subscribe-gooshi {
    margin-top: 40px !important;
  }

  .expand-image {
    width: 100% !important;
  }

  .blog-content {
    padding-top: 0% !important;
  }

  .blog-image-container {
    width: 100% !important;
  }

  .site-copyright {
    display: none;
  }

  .pure-g {
    letter-spacing: normal;
  }

  .post-title {
    font-size: 1.4em;
  }

  .posts {
    margin-top: 0.5em;
  }

  .posts,
  .post-entry-toc .posts {
    max-width: 100%;
  }

  .post-entry-toc .posts {
    margin: 0 0 0 0 !important;
  }

  .post .center-image {
    width: 95%;
  }

  .post-entry {
    width: 100%;
    overflow-wrap: break-word;
    margin: 0;
    border-radius: 0;
  }

  .tags {
    width: 49%;
  }

  .journals {
    max-width: 100%;
  }

  footer .pure-menu-link {
    padding: 0 20px;
  }

  .all-posts {
    margin: 0 0.5em 0 0.5em !important;
  }

  .page-entry {
    margin-top: 0 !important;
  }
}
