---
layout: default
---
{{ content }}

{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

<div class="pure-g" style="width: 100%; justify-content: center">
    <div class="posts pure-u-md-18-24">

        {%- if posts.size > 0 -%}
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

        {%- for post in posts -%}
        <section class="post">
            <div class="clickable-div" onclick="location.href='{{ post.url | relative_url }}';">
                <img class="center-image crop" src="{{site.url}}/{{ post.feature }}" alt="Featured Image" />
            </div>

            <hr class="post-hr">

            <header class="feed-header">
                <h2 class="post-title">
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                    {%- if post.state -%}
                    <span class="state-tag">{{ post.state }}</span>
                    {%- endif %}
                </h2>
                {%- include post-meta.html -%}
            </header>

            <div class="post-description clickable-div" onclick="location.href='{{ post.url | relative_url }}';">
                <p class="md-display">
                    <span>{{ post.content | strip_html | escape | truncate: 250}}</span>
                </p>
                <p class="sm-display">
                    <span>{{ post.content | strip_html | escape | truncate: 170}}</span>
                </p>
            </div>
        </section>
        {%- endfor -%}

        {% if site.paginate %}
        <div class="pure-menu pure-menu-horizontal paginate">
            <ul>

                {%- if paginator.previous_page %}
                <li class="pure-menu-item">
                    <a href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
                </li>
                {%- else %}
                <li class="pure-menu-item">#</li>
                {%- endif %}

                <li class="pure-menu-item" id="current-page">
                    Page
                    {{ paginator.page }}
                    of
                    {{ paginator.total_pages }}
                </li>

                {%- if paginator.next_page %}
                <li class="pure-menu-item">
                    <a href="{{ paginator.next_page_path | relative_url }}" class="next-page">Next</a>
                </li>
                {%- else %}
                <li class="pure-menu-item">#</li>
                {%- endif %}

            </ul>
        </div>
        {%- endif %}
        {%- endif -%}
    </div>

    <div class="posts-right-bar pure-u-md-6-24" style="display: flex; flex-direction: column;">
        <section class="post sidebar-scrollable-div">
            <span ><img id="clear-reading-list" class="twemoji" src="../assets/img/common/trash.svg" alt=""></span>
            <h3><img class="twemoji" src="../assets/img/emoji/bookmark.svg" alt=""> #readinglist <span class="sub-header">your saved selections</span></h3>
            <div id="sidebar-reading-list"></div>
        </section>
        <section class="post">
            <h3><img class="twemoji" src="../assets/img/emoji/crystal.svg" alt=""> #explore <span class="sub-header">uncover <a class="hidden-a" href="/notes">hidden</a> realms</span></h3>
            <hr class="post-hr">
            <p>Send Memes by Mail 💌 Share the Fun, One Post at a Time! <a href="https://sendmemes.today/" target="_blank" rel="noopener noreferrer">@sendmemes.today</a> <span class="state-tag new-tag">New</span></p>
            <hr class="post-hr">
            <p>Explore Cartograms 🗺️ Worldmap scaled by Population <a href="https://owid.github.io/cartograms/" target="_blank" rel="noopener noreferrer">@owid.cartograms</a></p>
        </section>
        <section class="post sidebar-text-div">
            <h3><img class="twemoji" src="../assets/img/emoji/testtube.svg" alt=""> #experiments <span class="sub-header">lab chronicles</span></h3>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/cartograms-documentation">Choosing the right spatial grid; Shape Preserved Algorithm</a></p>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/hybrid-spatial-index-conclusion">Hybrid Spatial Data Structures: Quad-KD and R-KD trees</a></p>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/floating-point-convex-hull">Effect of Round Off Errors in Geometric Algorithms</a></p>
        </section>
        <section class="post sidebar-scrollable-div">
            <h3><img class="twemoji" src="../assets/img/emoji/tag.svg" alt=""> #tags <span class="sub-header">posts by tags</span></h3>
            <hr class="post-hr">
            <div>
                {% for tag in site.tags %}
                    <p class="clickable-sidebar-div"><a href="{{site.url}}/tags/#{{ tag | first }}">#{{ tag | first | capitalize }}</a></p>
                {% endfor %}
            </div>
        </section>
        <section class="post sidebar-text-div">
            <h3><img class="twemoji" src="../assets/img/emoji/nails.svg" alt=""> #visualizer <span class="sub-header">now you see it</span></h3>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/geohash" target="_blank">GeoHash</a></p>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/face-projection" target="_blank">Face Projections</a> <span class="state-tag new-tag">New</span></p>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/kdtree" target="_blank">Kd-tree</a></p>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/quadtree" target="_blank">Quad-tree</a></p>
        </section>
        <section>
            <p class="figure-header">Made with <img class="twemoji" src="../assets/img/emoji/heart.svg" alt=""> and <a href="https://jekyllrb.com/" target="_blank" rel="noopener noreferrer">Jekyll</a>.<br/> PyBlog © 2016 - 2024.</p>
        </section>
    </div>
</div>