---
layout: default
---
{{ content }}

{% if site.paginate %}
{% assign posts = paginator.posts %}
{% else %}
{% assign posts = site.posts %}
{% endif %}

<div class="pure-g" style="width: 100%; justify-content: center">
    {%- include row-posts.html -%}

    <div class="posts-right-bar pure-u-md-6-24" style="display: flex; flex-direction: column;">
        {%- include reading-list.html -%}
        {%- include newsletter.html -%}
        <section class="post">
            <h3><img class="twemoji" src="../assets/img/emoji/crystal.svg" alt=""> #explore <span
                    class="sub-header">uncover <a class="hidden-a" href="/notes">hidden</a> realms</span></h3>
            <hr class="post-hr">
            <p>Send Memes by Mail 💌 Share the Fun, One Post at a Time! <a href="https://sendmemes.today/"
                    target="_blank" rel="noopener noreferrer">@sendmemes.today</a> <img class="new-tag"
                    src="../assets/img/common/new.svg" alt="new-tag"></p>
            <hr class="post-hr">
            <p>Explore Cartograms 🗺️ Worldmap scaled by Population <a href="https://owid.github.io/cartograms/"
                    target="_blank" rel="noopener noreferrer">@owid.cartograms</a></p>
        </section>
        {%- include tags-scroll.html -%}
        <section class="post sidebar-text-div">
            <h3><img class="twemoji" src="../assets/img/emoji/nails.svg" alt=""> #visualizer <span
                    class="sub-header">now you see it</span></h3>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/geohash" target="_blank">GeoHash</a></p>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/face-projection" target="_blank">Face
                    Projections</a> <img class="new-tag" src="../assets/img/common/new.svg" alt="new-tag"></p>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/kdtree" target="_blank">Kd-tree</a></p>
            <hr class="post-hr">
            <p class="clickable-sidebar-div"><a href="{{ site.url }}/quadtree" target="_blank">Quad-tree</a></p>
        </section>
        {%- include sidebar-footer.html -%}
    </div>
</div>