---
layout: default
---
{{ content }}

{% assign journals = site.journals | reverse %}

<div class="pure-g" style="width: 100%; justify-content: center">
    <div class="posts pure-u-md-4-5">
    {%- if journals.size > 0 -%}
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

        {%- for post in journals -%}
            <section class="post">
                <div class="clickable-div" onclick="location.href='{{ post.url | relative_url }}';">
                    <img class="center-image crop"  src="{{site.url}}/{{ post.feature }}" alt="Featured Image"/>
                </div>

                <hr class="post-hr">
                
                <header class="feed-header">
                    <h2 class="post-title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h2>
                    {%- include post-meta.html -%}
                </header>

                <div class="post-description clickable-div" onclick="location.href='{{ post.url | relative_url }}';">
                    <p class="md-display">
                        <em>{{ post.content | strip_html | escape | truncate: 250}}</em>
                    </p>
                    <p class="sm-display">
                        <em>{{ post.content | strip_html | escape | truncate: 200}}</em>
                    </p>
                </div>
            </section>
        {%- endfor -%}
    </div>


    <br/>

{%- endif -%}
</div>