---
layout: default
---
{{ content }}

{% assign journals = site.journals | reverse %}

<div class="pure-g" style="width: 100%; justify-content: center">
    <div class="posts pure-u-md-4-5">
    {%- if journals.size > 0 -%}
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

        {%- for post in journals -%}
            <section class="post">
                <div>
                    <img class="center-image crop"  src="{{site.url}}/{{ post.feature }}" alt="Featured Image"/>
                </div>

                <hr class="post-hr">
                
                <header class="feed-header">
                    <h2 class="post-title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title | escape }}
                        </a>
                    </h2>
                    <p class="post-meta">
                        Posted:
                        {{ post.date | date: date_format }}
                        |
                        <br class="sm-display"/>
                        Category:
                        <span>
                            <a href="/categories/#{{ post.category }}">{{ post.category }}</a>
                        </span>
                        |
                        <br class="sm-display"/>
                        Tags:
                        <span>
                            {% for tag in post.tags %}
                                <a href="/tags/#{{ tag }}">{{ tag }}</a>{% if forloop.last %}{% else %},{% endif %}
                            {% endfor %}
                        </span>
                    </p>
                </header>

                <div class="post-description">
                    <p class="md-display">
                        <em>{{ post.content | strip_html | escape | truncate: 300}}</em>
                    </p>
                    <p class="sm-display">
                        <em>{{ post.content | strip_html | escape | truncate: 250}}</em>
                    </p>
                </div>
                <a href="{{ post.url | relative_url }}" class="black-button">Read more</a>
            </section>
        {%- endfor -%}
    </div>


    <br/>

{%- endif -%}
</div>