---
layout: default
---
{{ content }}

{% assign notes = site.notes | reverse %}

<div class="pure-g" style="width: 100%; justify-content: center">
    <div class="posts pure-u-md-18-24">
        {%- if notes.size > 0 -%}
        {%- assign date_format = site.minima.date_format | default: "%B %-d, %Y" -%}

        {%- for post in notes -%}
        {% unless post.hide_note %}
        <section class="post">
            {%- if post.feature -%}
            <div class="clickable-div" onclick="location.href='{{ post.url | relative_url }}';">
                <img class="center-image crop" src="{{site.url}}/{{ post.feature }}" alt="Featured Image" />
            </div>

            <hr class="post-hr">
            {%- endif -%}
            
            <header class="feed-header">
                <h2 class="post-title">
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h2>
                {%- include post-meta.html -%}
            </header>

            <div class="post-description clickable-div" onclick="location.href='{{ post.url | relative_url }}';">
                <p class="md-display">
                    <span>{{ post.content | markdownify | strip_html | escape | truncate: 250}}</span>
                </p>
                <p class="sm-display">
                    <span>{{ post.content | markdownify | strip_html | escape | truncate: 200}}</span>
                </p>
            </div>
        </section>
        {% endunless %}
        {%- endfor -%}
    </div>

    <div class="posts-right-bar pure-u-md-6-24" style="display: flex; flex-direction: column;">
        <section class="post">
            <h3><img class="twemoji" src="../assets/img/emoji/scroll.svg" alt=""> #memo <span class="sub-header">The Hidden Package</span></h3>
            <hr class="post-hr">
            <div class="blog-reference green-disclaimer">
                <p>Hi there <img class="twemoji" src="../assets/img/emoji/shake.svg"><br/> You've found a hidden path on my blog!</p>
                <p>If you're here, we probably crossed paths and I shared the link with you. </p>
                <p>Glad you made it! Enjoy exploring, and feel free to reach out.</p>
                <p>Cheers, <br/><a href="mailto:yo@pyblog.xyz">yo@pyblog.xyz</a></p>
            </div>
        </section>
    </div>
    {%- endif -%}
</div>