---
layout: default
---
{{ content }}

{% assign posts = site.notes | reverse %}
{% assign disable-meta-click = true %}

<div class="pure-g" style="width: 100%; justify-content: center">
    {%- include row-posts.html -%}

    <div class="posts-right-bar pure-u-md-6-24" style="display: flex; flex-direction: column;">
        <section class="post">
            <h3><img class="twemoji" src="../assets/img/emoji/scroll.svg" alt=""> #memo <span class="sub-header">From
                    the Back Office</span></h3>
            <hr class="post-hr">
            <div class="">
                <p>This blog space is for sharing ideas, thoughts, and interesting links.</p>
                <p>The best way to stay updated is by following my <a class="black-a underline" target="_blank"
                        href="/feed.xml">RSS feed</a>.</p>
                <p>Or head to the <a class="black-a underline" href="/">home page</a> for the latest posts.</p>
            </div>
        </section>
        {%- include newsletter.html -%}
        {%- include sidebar-footer.html -%}
    </div>
</div>