---
layout: default
---
<div></div>
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="pure-g post-entry-toc" style="width: 100%; justify-content: center">
    <div class="posts pure-u-md-5-6">
        <article class="post-entry" itemscope itemtype="http://schema.org/BlogPosting">

            <header class="feed-header">
                <h2 class="post-title" style="font-size: 1.6em;" itemprop="name headline">{{ page.title | escape }}</h2>
                {%- include post-data.html -%}
            </header>

            <div articlebody" class="post-body itemprop=">
                {{ content }}
            </div>
            <img style="float: right; width: 5em;" src="../assets/img/common/puppy.gif" />
            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>
        <div class="blog-reference">
            <p>Cite this article as: {{ page.author }}. ({{ post.date | date: date_format }}). {{ page.title | escape
                }}.
                PyBlog. <a href="{{ page.url | relative_url }}">https://www.pyblog.xyz{{ page.url | relative_url }}</a>
            </p>
        </div>
        <div id="comments-section"></div>
        <div id="comments-script">
            <script src="https://utteranc.es/client.js" repo="addu390/addu390.github.io" issue-term="pathname"
                theme="github-light" crossorigin="anonymous" async>
                </script>
        </div>

    </div>
    <div class="posts-right-bar pure-u-md-1-6" style="display: flex; flex-direction: column;">
        <section class="post sidebar-scrollable-div sidebar-toc-div">
            <h3><img class="twemoji" src="../assets/img/emoji/snake.svg" alt=""> #index <span class="sub-header">table
                    of contents</span></h3>
            <div id="toc">
                <!-- Table of Contents will be injected here -->
            </div>
        </section>
    </div>
</div>
<script src="{{ '../assets/toc.js' | relative_url }}"></script>