---
layout: default
---
<div></div>
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
<div class="pure-g post-entry-toc" style="width: 100%; justify-content: center">
    <div class="posts pure-u-md-5-6">
        <article class="post-entry" itemscope itemtype="http://schema.org/BlogPosting">

            <header class="feed-header">
                <h2 class="post-title" style="font-size: 1.6em;" itemprop="name headline">{{ page.title | escape }}
                    {%- if page.state -%}
                    <span style="margin-left: 0.8em;" class="state-tag">{{ page.state }}</span>
                    {%- endif %}
                </h2>
                {%- include post-data.html -%}
            </header>

            <div articlebody" class="post-body itemprop=">
                {{ content }}
            </div>
            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>
        <div class="blog-reference">
            <p>Cite this article as: {{ page.author }}. ({{ post.date | date: date_format }}). {{ page.title | escape
                }}.
                PyBlog. <a href="{{ page.url | relative_url }}">https://www.pyblog.xyz{{ page.url | relative_url }}</a>
            </p>
        </div>
        <div style="margin-left: 2em; margin-right: 2em; margin-bottom: 2em;" id="comments-script">
            <script src="https://giscus.app/client.js" data-repo="addu390/addu390.github.io"
                data-repo-id="MDEwOlJlcG9zaXRvcnkyOTk0MDg4NDY=" data-category="Q&A"
                data-category-id="DIC_kwDOEdidzs4ChB1Z" data-mapping="pathname" data-strict="0" data-reactions-enabled="1"
                data-emit-metadata="0" data-input-position="top" data-theme="light" data-lang="en" data-loading="lazy"
                crossorigin="anonymous" async>
                </script>
        </div>

    </div>
    <div class="posts-right-bar pure-u-md-1-6" style="display: flex; flex-direction: column;">
        <section class="post sidebar-scrollable-div sidebar-toc-div">
            <h3><img class="twemoji" src="../assets/img/emoji/snake.svg" alt=""> #index <span class="sub-header">table
                    of contents</span></h3>
            <div id="toc"></div>
        </section>
    </div>
</div>
<script src="{{ '../assets/js/toc.js' | relative_url }}"></script>
<script src="{{ './assets/js/slider.js' | relative_url }}"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@4.0.0-beta.6/tex-mml-chtml.js"></script>